<nav class="navbar navbar-expand-lg bg-body-tertiary ">
    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="'home'">Home</a>
        </li>
      </ul>
      <div class="centro d-flex flex-row align-items-center">
          <img src="/images/logo.png" width="100px;">
          <h1>RECETAS DEL MUNDO</h1>
          <img src="/images/logo.png" width="100px;">
      </div>
      <ul>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'platos'">Platos</a>
        </li>
      </ul>
    </div>
  </nav>


  
